.gorilas {
  position: relative; }

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'cooper_hewittbook';
  src: url("../fonts/cooperhewitt-book-webfont.eot");
  src: url("../fonts/cooperhewitt-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cooperhewitt-book-webfont.woff2") format("woff2"), url("../fonts/cooperhewitt-book-webfont.woff") format("woff"), url("../fonts/cooperhewitt-book-webfont.ttf") format("truetype"), url("../fonts/cooperhewitt-book-webfont.svg#cooper_hewittbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cooper_hewittbook';
  src: url("../fonts/cooperhewitt-bookitalic-webfont.eot");
  src: url("../fonts/cooperhewitt-bookitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cooperhewitt-bookitalic-webfont.woff2") format("woff2"), url("../fonts/cooperhewitt-bookitalic-webfont.woff") format("woff"), url("../fonts/cooperhewitt-bookitalic-webfont.ttf") format("truetype"), url("../fonts/cooperhewitt-bookitalic-webfont.svg#cooper_hewittbook_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'cooper_hewittbook';
  src: url("../fonts/cooperhewitt-medium-webfont.eot");
  src: url("../fonts/cooperhewitt-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cooperhewitt-medium-webfont.woff2") format("woff2"), url("../fonts/cooperhewitt-medium-webfont.woff") format("woff"), url("../fonts/cooperhewitt-medium-webfont.ttf") format("truetype"), url("../fonts/cooperhewitt-medium-webfont.svg#cooper_hewittmedium") format("svg");
  font-weight: bold;
  font-style: normal; }

/* ==========================================================================
   Coding Stones
   ========================================================================== */
body {
  background: #FFF;
  color: #1C1C1C;
  font-family: "Cooper Hewitt Book", "cooper_hewittbook", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8em; }

h1 {
  color: #BD1622;
  font-size: 1.5791980919em; }

h2 {
  margin-bottom: 0.1em;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.4800357em;
  text-transform: uppercase;
  color: #BD1622; }

h3, h4 {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.3871em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0; }

h3 span {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 1.5791980919em;
  font-family: "Playfair Display","Times New Roman", Times, sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #BBBBBB; }

p {
  margin-top: 0;
  line-height: 1.5; }

a {
  color: #1C1C1C;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #BD1622; }

.main {
  width: 100%; }

.container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto; }

.colored {
  width: 100%;
  padding: 0 5%;
  background-color: #E8E5D9; }

.logo {
  position: absolute;
  left: 1rem;
  top: 2rem;
  width: 6rem; }
  .logo img {
    width: 100%;
    height: auto; }

.column p {
  margin-top: 0;
  font-size: 1.2183692596em;
  margin-left: 1.3rem; }

.column-team img {
  margin: 1rem 0; }

.column-team p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1418643483em; }

.intro {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 1rem;
  font-weight: bold; }

.lead {
  font-size: 2.1840305438em; }
  .lead h1 {
    line-height: 0.9;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "abril-fatface","Playfair Display","Times New Roman", Times, sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.05em; }

.lead-list {
  position: absolute;
  top: 4.5rem;
  right: 0; }
  .lead-list ul {
    margin: 0;
    list-style: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-align: right; }

.rockandroll {
  display: none; }

.sublead {
  margin-top: 1rem; }
  .sublead p {
    margin-top: 0;
    font-size: 1.4800357em;
    color: #1C1C1C; }
  .sublead a {
    color: #BD1622;
    text-decoration: underline; }

.subintro, .half, .team {
  font-size: 1.3em; }

.column-team h4 {
  margin-bottom: 0; }

.footer {
  width: 100%;
  margin-top: 3em;
  padding: 0.5em 0 3em 0;
  background-color: #BD1622;
  color: white;
  font-size: 1.2183692596em; }
  .footer h3 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.9183589334em; }
  .footer p {
    font-size: 1.2183692596em; }
  .footer a {
    color: white;
    font-weight: bold;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }

.sublogo {
  float: left;
  width: 4rem; }
  .sublogo img {
    width: 100%;
    height: auto; }

.subnav {
  float: right; }
  .subnav a {
    display: block;
    padding: 1rem;
    width: 3.2rem; }
  .subnav img {
    width: 100%;
    height: auto; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em; }
  h1 {
    margin-bottom: 0.2em;
    font-family: "abril-fatface","Playfair Display","Times New Roman", Times, sans-serif;
    font-size: 14vw;
    line-height: 0.8 !important;
    color: #1C1C1C; }
  h2 {
    font-size: 1.9183589334em; }
  h3 {
    font-size: 1.3em; }
  .container {
    width: 80%;
    min-height: 80vh; }
    .container.colored {
      width: 100%;
      max-width: 100%; }
    .footer .container {
      min-height: 0; }
    .container p {
      max-width: 65%; }
  .sublead {
    width: 90%;
    margin: 3rem auto 0 auto; }
    .sublead p {
      max-width: 90%;
      color: #BD1622; }
  .column p {
    max-width: 100%;
    margin-left: 2rem;
    font-size: 1.0701634004em; }
  .column-team p {
    max-width: 100%;
    font-size: 1.0701634004em; }
  .logo {
    position: fixed;
    z-index: 100; }
  .intro h1 {
    margin-top: 0; }
  .lead-list {
    top: 4.5rem;
    right: 10vw; }
    .lead-list ul {
      font-size: 3vw; }
  .rockandroll {
    display: block;
    position: absolute;
    top: -1rem;
    right: -11vw;
    width: 10vw;
    font-size: 5vw;
    text-transform: uppercase;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #BD1622; }
    .rockandroll .and {
      font-family: "Playfair Display","Times New Roman", Times, sans-serif;
      font-style: italic;
      font-weight: 900; }
  .footer {
    font-size: 1.5791980919em; }
    .footer p {
      font-size: 1.0029647614em; }
  .sublogo {
    display: none; }
  .subnav {
    margin-top: -5rem; }
    .subnav a {
      width: 4.2rem; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-size: 1.0029647614em; }
  .container {
    min-height: 60vh; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
/*# sourceMappingURL=main.css.map */