.gorilas {
    position:relative;
}

@import "bourbon";

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../fonts/cooperhewitt-book-webfont.eot');
    src: url('../fonts/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-book-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-book-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-book-webfont.svg#cooper_hewittbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../fonts/cooperhewitt-bookitalic-webfont.eot');
    src: url('../fonts/cooperhewitt-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bookitalic-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-bookitalic-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-bookitalic-webfont.svg#cooper_hewittbook_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../fonts/cooperhewitt-medium-webfont.eot');
    src: url('../fonts/cooperhewitt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-medium-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-medium-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-medium-webfont.svg#cooper_hewittmedium') format('svg');
    font-weight: bold;
    font-style: normal;

}


/* ==========================================================================
   Coding Stones
   ========================================================================== */

$modular-scale-ratio:   $minor-second;
$modular-scale-base:    1.3em;
$bg-color:              #FFF;
$text-color:            #1C1C1C;
$accent-color:          #BD1622;
$bg-intro-color:        #E8E5D9;
$grey:                  #BBBBBB;

body {
    background:$bg-color;
    color:$text-color;
    font-family: "Cooper Hewitt Book", "cooper_hewittbook", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.8em;
}
h1 {
    color:$accent-color;
    font-size: modular-scale(3);
}
h2 {
    margin-bottom: 0.1em;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: modular-scale(2);
    text-transform: uppercase;
    color: $accent-color;
}
h3, h4 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: modular-scale(1);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    span {
        display: inline-block;
        margin-right: 0.2em;
        font-size: modular-scale(3);
        font-family: "Playfair Display","Times New Roman", Times, sans-serif;
        font-style:italic;
        font-weight:900;
        color: $grey;
    }
}
p {
    margin-top: 0;
    line-height: 1.5;
}
a {
    color:$text-color;
    text-decoration: none;
    @include transition (color 0.2s ease);
    &:hover {
        color:$accent-color;
    }
}
.main {
    width:100%;
}
.container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}
.colored {
    width: 100%;
    padding: 0 5%;
    background-color: $bg-intro-color;
}
.logo {
    position: absolute;
    left:1rem;
    top:2rem;
    width:6rem;
    img {
        width: 100%;
        height: auto;
    }
}
.column {
    p {
        margin-top: 0;
        font-size: modular-scale(-1);
        margin-left:1.3rem;
    }
}

.column-team {
    img {
        margin: 1rem 0;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: modular-scale(-2);
    }
}
.intro {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.lead {
    font-size: modular-scale(8);
    h1 {
        line-height: 0.9;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "abril-fatface","Playfair Display","Times New Roman", Times, sans-serif;
        font-style:italic;
        font-weight:400;
        letter-spacing: -0.05em;
    }
}
.lead-list {
    position: absolute;
    top:4.5rem;
    right:0;
    ul {
        margin:0;
        list-style: none;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.2;
        text-align: right;
    }
}
.rockandroll {
    display: none;
}
.sublead {
    margin-top: 1rem;
    p {
        margin-top: 0;
        font-size: modular-scale(1.5);
        color: $text-color;
    }
}
.subintro, .half, .team {
    font-size: modular-scale(0);
}
.column-team {
    h4 {
        margin-bottom: 0;
    }
}
.footer {
    width: 100%;
    margin-top: 3em;
    padding:0.5em 0 3em 0;
    background-color: $accent-color;
    color:white;
    font-size: modular-scale(-1);
    h3{
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        text-transform: uppercase;
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: modular-scale(6);
    }
    p {
        font-size: modular-scale(-1);
    }
    a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.sublogo {
    float:left;
    width:4rem;
    img {
        width: 100%;
        height: auto;
    }
}
.subnav {
    float:right;
    a {
        display: block;
        padding:1rem;
        width:3.2rem;
    }
    img {
        width: 100%;
        height: auto;
    }
}















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {
    body {
        font-size: modular-scale(0);
    }
    h1 {
        margin-bottom: 0.2em;
        font-family: "abril-fatface","Playfair Display","Times New Roman", Times, sans-serif;
        font-size: 14vw;
        line-height: 0.8 !important;
        color: $text-color;
    }
    h2 {
        font-size: modular-scale(6);
    }
    h3 {
        font-size: modular-scale(0);
    }
    .container {
        width: 80%;
        min-height: 80vh;
        &.colored {
            width: 100%;
            max-width: 100%;
        }
        .footer & {
            min-height: 0;
        }
        p {
            max-width: 65%;
        }
    }
    .sublead {
        width: 90%;
        margin: 3rem auto 0 auto;
        p {
            max-width: 90%;
            color: $accent-color;
        }
    }
    .column {
        p {
            max-width: 100%;
            margin-left: 2rem;
            font-size: modular-scale(-3);
        }
    }
    .column-team {
        p {
            max-width: 100%;
            font-size: modular-scale(-3);
        }
    }
    .logo {
        position: fixed;
        z-index: 100;
    }
    .intro {
        h1 {
            margin-top: 0;
        }
    }
    .lead-list {
        top:4.5rem;
        right:10vw;
        ul {
            font-size: 3vw;
        }
    }
    .rockandroll {
        display: block;
        position: absolute;
        top:-1rem;
        right:-11vw;
        width: 10vw;
        font-size: 5vw;
        text-transform: uppercase;
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        font-weight: 700;
        line-height: 1;
        text-align: left;
        color: $accent-color;
        .and {
            font-family: "Playfair Display","Times New Roman", Times, sans-serif;
            font-style:italic;
            font-weight:900;
        }
    }
    .footer {
        font-size: modular-scale(3);
        p {
            font-size: modular-scale(-4);
        }
    }
    .sublogo {
        display: none;
    }
    .subnav {
        margin-top: -5rem;
        a {
            width:4.2rem;
        }
    }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    //iPad
    body {
        font-size: modular-scale(-4);
    }
    .container {
        min-height: 60vh;
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
