---
layout: default
---
<div class="container colored">
    <div class="full logo">
        <a href="/"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="full intro">
        <div data-script="LeadTitle" class="lead">
            <h1>
                “We rock<br>your product,<br> you let it roll!
            </h1>
        </div>
        <div class="lead-list">
            <ul>
                <li>
                    Desarrollo Web
                </li>
                <li>
                    Mobile Apps
                </li>
                <li>
                    Training
                </li>
            </ul>
            <div class="rockandroll">
                <span class="and">&</span>
                <span>Rock</span>
                <span>Roll</span>
            </div>
        </div>
        <div class="sublead">
            <p><a href="https://medium.com/coding-stones">Lee nuestro blog en Medium</a> o <a href="/shop">hazte con alguna de nuestras camisetas</a>.</p>
        </div>
    </div>
</div>
    <div class="container">
        <div class="half team">
            <h2>La Tienda</h2>
            <p>Camisetas y sudaderas personalizables para coders con actitud.</p>
        </div>
      {% for shirt in site.data.shirts %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="grid">
        {% endif %}
          <div class="column-team grid__col-sm-6 grid__col--bleed">
             <a href="{{ shirt.url }}" target="_blank"><div class="grid">
                 <div class="grid__col-3 grid__col--bleed">
                     <img class="grid__cell-img" src="{{ shirt.image }}" alt="{{ shirt.name }}">
                 </div>
                 <div class="grid__col-9">
                     <h4>{{ shirt.name }}</h4>
                     <p>&nbsp;</p>
                 </div>
             </div></a>
          </div>
        {% if thecycle == 'even' %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
